{% extends 'mi_app/base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h2>Lista de Productos</h2>
<ul>
    {% if productos %}
        {% for producto in productos %}
        <li>
            <h3><a href="{% url 'producto_detalle' producto.id %}">{{ producto.nombre }}</a></h3>
            <!-- <p>{{ producto.descripcion }}</p> -->
            <p>Precio: ${{ producto.precio }}</p>
            <!-- <p>Stock: {{ producto.stock }}</p> -->
            <a href="{% url 'agregar_al_carrito' producto.id %}" class="login-link">Agregar al Carrito</a>
        </li>
        {% endfor %}
    {% else %}
        <li>No hay productos disponibles en este momento.</li>
    {% endif %}
</ul>
{% endblock %}