{% extends 'mi_app/base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2>Iniciar Sesión</h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Iniciar Sesión</button>
</form>
<br>
<p>Si no tiene usuario, por favor registrese</p>
<a href="{% url 'registro' %}" class="login-link">Registrarse</a>
{% endblock %}